<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peter.prac">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Show people groups -->
        <activity android:name=".DisplayPplGrps"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Show ECs -->
        <activity android:name=".DisplayEC"
            android:parentActivityName=".DisplayPplGrps" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayPplGrps" />
        </activity>
        <!-- Show CMs -->
        <activity android:name=".DisplayCM"
            android:parentActivityName=".DisplayPplGrps" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayPplGrps" />
        </activity>
        <!-- Show HS students -->
        <activity android:name=".DisplayHS"
            android:parentActivityName=".DisplayPplGrps" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayPplGrps" />
        </activity>

        <!-- Show seminars -->
        <activity android:name=".DisplaySeminars"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>